{% load static %}
<meta property="description" content="2019 skal sparkes godt i gang. Derfor laver vi i januar Northern Winter Beat: en musikfestival, der vil fylde Aalborg med lys og varme i en kold og mørk tid.">
<meta property="og:title" content="Northern Winter Beat">
<meta property="og:site_name" content="Northern Winter Beat">
<meta property="og:type" content="website">
<meta property="og:url" content="https://winterbeat.dk">
<meta property="og:image" content="{% static 'images/logo-2019.jpg' %}">
<meta property="og:image:width" content="1820">
<meta property="og:image:height" content="567">
<meta property="og:description" content="2019 skal sparkes godt i gang. Derfor laver vi i januar Northern Winter Beat: en musikfestival, der vil fylde Aalborg med lys og varme i en kold og mørk tid.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Northern Winter Beat">
<meta name="twitter:description" content="2019 skal sparkes godt i gang. Derfor laver vi i januar Northern Winter Beat: en musikfestival, der vil fylde Aalborg med lys og varme i en kold og mørk tid.">
<meta name="twitter:image" content="{% static 'images/logo-2019.jpg' %}">