{% load l10n %}
{% load i18n %}
{% load static %}
{% load solo_tags %}

{% get_solo 'northern_winter_beat.winterbeatsettings' as settings %}
<a class="navbar-item" href="https://www.facebook.com/northernwinterbeat" target="_blank">
    <i class="fab fa-facebook-square"></i>
</a>

{% if settings.youtube_link %}
    <a class="navbar-item" href="{{ settings.youtube_link }}" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
{% endif %}

{% if settings.spotify_link %}
    <a class="navbar-item" href="{{ settings.spotify_link }}" target="_blank">
        <i class="fab fa-spotify"></i>
    </a>
{% endif %}
{% get_current_language as LANGUAGE_CODE %}
<a class="navbar-item" href="/{% if LANGUAGE_CODE == "en"%}da{% else %}en{% endif %}/">
    <img height="24" src="{% if LANGUAGE_CODE == "en" %}{% static "images/danish.png" %}{% else %}{% static "images/english.png" %}{% endif %}"/>
</a>
