@import "consts";


.card {
  max-width: 900px;
  font-size: 1rem;
  background: #f8f8f8;/*#ecded6;*/
  margin: 30px auto 50px;
  text-align: left;

  &.post {
    width: 100%
  }


  .box.header {
    cursor: default;
    margin: -25px -10px 25px;
    @media(min-width:500px) {
      font-size: 3rem;
    }

    @media(max-width:500px) {
      font-size: 2rem;
    }
  }
  .date {
    color: #888888;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .body {
    padding: 1.25rem;
    color: #444444;
    margin-top: -30px;
  }
}

