@import "consts";

.box {
  cursor: pointer;
  display: block;
  font-family: 'League Gothic', cursive;
  @media (min-width: 500px) {
    margin: 15px 25px;
    font-size: 2rem;
    padding: 15px 20px;
    min-width: 120px;
  }

  @media(max-width: 500px) {
    font-size: 1.6rem;
    padding: 10px 15px;
  }

  position: relative;
  text-align: center;
  text-transform: uppercase;
  word-wrap: normal;
  transform-style: preserve-3d;
  text-shadow: 2px 2px 0 rgba(255,255,255,.5);
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 50px;
  &.large {
    font-size: 3.125rem;
    padding: 40px 20px;

    &:before {
      top: -1%;
      left: -1%;
      width: 102%;
      height: 102%;
      z-index: -1;
      transition: all 100ms ease-in-out;
      transform: rotate(1deg) translateZ(-1em);
    }

    &:hover:before {
      transform: rotate(-1deg) translateZ(-1em);
    }
  }

  &.sand {
    background: $background-2;
  }
  &.blue {
    background: $blue;
  }

  &.blue-dark {
    background-color: $blue-dark;
  }


  .text-lg {
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
  }
}

.r-1 { transform: rotate(1deg);}
.r-1-r { transform: rotate(-1deg);}
.r-2 { transform: rotate(2deg);}
.r-2-r { transform: rotate(-2deg);}
.r-3 { transform: rotate(3deg);}
.r-3-r { transform: rotate(-3deg);}
.r-4 { transform: rotate(4deg);}
.r-4-r { transform: rotate(-4deg);}
.r-5 { transform: rotate(5deg);}
.r-5-r { transform: rotate(-5deg);}
