@import "consts";
.days {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.date-row {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
}
.event-row {
  grid-row: 2/3;
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  .timestamp {
    background-color: $background-2;
    grid-row: 1 / 2;
  }
}