{% load color_helpers %}
<a class="artist {% if artist.body %}clickable{% endif %}"
        {% if artist.body %}
            data-toggle="modal"  data-target="#exampleModal"
            onclick="setModal({{ artist.pk }})"
        {% endif %}
>
        {% if concert %}
            {%  if concert.title %}
                {{ concert.title }}
            {% else %}
                {{ concert.artist.name }}
            {% endif %}

            {% if concert.sub_title %}
                <p class="subtitle">
                    {{ concert.sub_title }}
                </p>
            {% endif %}
        {% else %}
            {{ artist.name }}
            {% if artist.subtitle %}
                <p class="subtitle">
                    {{ artist.subtitle }}
                </p>
            {% endif %}
        {% endif %}
</a>

