{% extends 'way-up-north/base.html' %}
{% load color_helpers %}
{% load i18n %}
{% block content %}
    <div class="schedule">

        {% regroup artists|dictsort:"date" by date as dates %}

        <div class="row">
            {% for date in dates %}
                <div class="col-md-6 col-sm-12" style="margin-bottom: 30px">
                    <h1>{{ date.grouper|date:"l d M" }}</h1>
                    {% regroup date.list|dictsort:"stage.pk" by stage as stages %}
                    {% for stage in stages %}
                        <h2>{{ stage.grouper.name }}</h2>
                        {% for artist in stage.list %}
                            {{ artist.as_schedule_link }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="statement">
        <p>
            {{ festival.bottom_text }}
        </p>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-artist">
                <div class="modal-artist-header">
                    <div class="row no-margin">
                        <div class="col-10">
                            <div id="exampleModalLabel" class="modal-title">title</div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body" id="modalBody">
                    ...
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script>
        const bands = {
        {% for artist in artists %}
            {% if artist.body %}
                {{artist.pk}}: {
                'name':`{{ artist.name }}`,
                    'body':`{{ artist.body }}`
            },
            {% endif %}
        {% endfor %}
        }

        function setModal(pk) {
            $('#exampleModalLabel').text(bands[pk].name);
            $('#modalBody').html(bands[pk].body);
        }
        $('#exampleModal').on('shown.bs.modal', function () {
            $('#exampleInput').trigger('focus')
        })
    </script>
{% endblock %}
