{% load color_helpers %}
{% if artist.one_line %}
    <div class="col-12">
    <div class="row justify-content-center">
{% endif %}

<a
        {% if artist.body %}
            data-toggle="modal"  data-target="#exampleModal"
            onclick="setModal({{ artist.pk }})"
        {% endif %}
>
    <div class="artist box shadow justify-center {{ artist.pk|artist_background_color }}">
        {% if concert %}
            {%  if concert.title %}
                {{ concert.title }}
            {% else %}
             {{ concert.artist.name }}
            {% endif %}

            {% if concert.sub_title %}
                <p class="small no-margin">
                    {{ concert.sub_title }}
                </p>
            {% endif %}
        {% else %}
            {{ artist.name }}
            {% if artist.subtitle %}
                <p class="small no-margin">
                    {{ artist.subtitle }}
                </p>
            {% endif %}
        {% endif %}

    </div>
</a>

{% if artist.one_line %}
    </div></div>
{% endif %}
