{% extends 'partials/base-northern-winter-beat.html' %}
{% load color_helpers %}
{% load i18n %}
{% load solo_tags %}
{% block content %}
    <div class="row justify-content-center">
        {% for post in posts %}
            <div class="col-12">

                        <div class="card card-post">
                            <div class="card-post-header box blue-dark">
                                <a href="{% url 'winterbeat:view_post' post.pk %}">
                                    {{ post.title|safe }}
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="post-date">
                                    {{ post.created|date:"D j. M Y" }}
                                </p>
                                <div class="card-text">
                                    {{ post.body|safe|linebreaks }}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
