@tailwind preflight;
@tailwind utilities;
@font-face {
  font-family: 'League Gothic';
  src: url("./fonts/leaguegothic-regular-webfont.bfc580cdc5e4.woff2") format("woff2"), url("./fonts/leaguegothic-regular-webfont.29c587e6cf17.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'League Gothic';
  src: url("./fonts/leaguegothic-italic-webfont.051f55e198df.woff2") format("woff2"), url("./fonts/leaguegothic-italic-webfont.9513c65d228e.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  background: #ead4c7;
  color: #333;
  font-size: 1.25rem;
  padding: 20px; }

a {
  color: #333; }

.box {
  cursor: pointer;
  display: block;
  font-family: 'League Gothic', cursive;
  font-size: 2.5rem;
  padding: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  word-wrap: normal;
  transform-style: preserve-3d;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 50px; }
  .box.large {
    font-size: 3.125rem;
    padding: 40px 20px; }
    .box.large:before {
      top: -1%;
      left: -1%;
      width: 102%;
      height: 102%;
      z-index: -1;
      transition: all 100ms ease-in-out;
      transform: rotate(1deg) translateZ(-1em); }
    .box.large:hover:before {
      transform: rotate(-1deg) translateZ(-1em); }
  .box.sand {
    background: #b8a998; }
  .box.blue {
    background: #82abc9; }
  .box.blue-dark {
    background-color: #688fa4; }
  .box:before {
    background: rgba(0, 0, 0, 0.1);
    content: "";
    position: absolute;
    top: -2%;
    left: -2%;
    width: 104%;
    height: 104%;
    z-index: -1;
    transition: all 100ms ease-in-out;
    transform: rotate(3deg) translateZ(-1em); }
  .box:hover:before {
    transform: rotate(-3deg) translateZ(-1em); }
  .box .text-lg {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }

.r-1 {
  transform: rotate(1deg); }

.r-1-r {
  transform: rotate(-1deg); }

.r-2 {
  transform: rotate(2deg); }

.r-2-r {
  transform: rotate(-2deg); }

.r-3 {
  transform: rotate(3deg); }

.r-3-r {
  transform: rotate(-3deg); }

.r-4 {
  transform: rotate(4deg); }

.r-4-r {
  transform: rotate(-4deg); }

.r-5 {
  transform: rotate(5deg); }

.r-5-r {
  transform: rotate(-5deg); }

.title {
  font-family: 'League Gothic', cursive; }

p {
  margin: 20px 0; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.navbar-item {
  color: #333;
  font-family: 'League Gothic';
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5); }

.sponsor {
  width: 50%;
  max-width: 200px; }

.icon {
  width: 24px;
  height: 24px; }

.small {
  font-size: 50% !important; }

.no-margin {
  margin: 0 !important; }

/* Posts */
.card-post {
  margin-top: 30px;
  font-size: 1rem;
  background: #ecded6; }

.post-date {
  color: #888888;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-body {
  color: #444444;
  margin-top: -30px; }

.modal-artist {
  background-color: #ecded6;
  margin-top: 100px; }

/* TODO dry these different kind of labels */
.modal-artist-header {
  display: block;
  font-family: 'League Gothic', cursive;
  font-size: 3rem;
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  word-wrap: normal;
  transform-style: preserve-3d;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin: -5px;
  transform: rotate(-1deg) translateY(-0.5em);
  background: #82abc9; }
  .modal-artist-header:before {
    background: rgba(0, 0, 0, 0.15);
    content: "";
    position: absolute;
    top: 5%;
    left: 1%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 100ms ease-in-out;
    transform: translateZ(-1em); }

.modal-dialog {
  max-width: 600px; }

.big {
  font-family: 'League Gothic', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5);
  margin: 20px; }

a {
  text-decoration: underline; }

.card-post-header {
  display: block;
  font-family: 'League Gothic', cursive;
  font-size: 2rem;
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  word-wrap: normal;
  transform-style: preserve-3d;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin: -5px;
  transform: rotate(2deg) translateY(-0.5em);
  background: #b8a998; }
  .card-post-header:before {
    background: rgba(0, 0, 0, 0.15);
    content: "";
    position: absolute;
    top: 5%;
    left: 1%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 100ms ease-in-out;
    transform: translateZ(-1em); }
