@import "consts";

.modal {
  overflow-y:auto;
  .close {
    color: $white;
  }
  /*.modal-title {
    padding: 0.5rem;
  }*/
}


.modal-artist {
  background-color: $grey-dark;
  margin-top: 100px;
}
.modal-content {
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}
// todo dry this with floatbox
.modal-dialog {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 40vw;
  height: 80vh;
  margin: 0;
  max-width: none;
  img {
    width: 100% !important;
  }

  @media(max-width:$phone-size) {
    width: 75vw;

  }
}

.modal-body {
  text-transform: none;
}