@import "modal";
@import "consts";


body {
  background: $blue-dark;
  color: $white;
  font-size: 2rem;
  max-width: 1000px;
  text-transform: uppercase;
  z-index: 0;
  margin: 3vw 25vw auto;
  font-family: 'Barlow Condensed', sans-serif;
  @media(max-width:1000px) {
    font-size: 1.5rem;
    max-width: 500px;
    margin: 25vw auto auto;
  }
  @media(max-width:$phone-size) {
    margin-top: 40vw;
    max-width: 80vw;
  }
}
.footer {
  position: absolute;
  bottom: 1vh;
}

.artists {
  text-align: justify;

  font-size: 3rem;

  @media(max-width:1000px) {
    font-size: 2rem;
  }

  @media(max-width:$phone-size) {
    text-align: right;

  }
  .sep:not(:last-child)::before {
    content: '•';

  }
  .artist {
    &:after {
      @media(max-width:$phone-size) {
        content: "\A";
        white-space: pre;
      }
    }


  }
}
.artist {
  &.clickable:hover {
    color: $grey-dark !important;
    background-color: $white;
    cursor: pointer;
  }
  white-space: nowrap;
}

.navbar {
  justify-content: left;
  padding: 0;
  .navbar-item {
    color: $white;

    &:not(:last-child) {
      margin-right: 10px

    }

  }

}

.statement, .navbar {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: left;
}

.logo {
  position: absolute;
  width: 20vw;
  top: 2vh;
  left: 2vh;
  z-index: -1;

  @media(max-width:$phone-size) {
    width: 40vw;
  }

  img {
    width: 100%;
  }

}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.crystals {
  overflow: hidden;
  .crystal {

    position: fixed;
    z-index: 2;

    img {
      width: 100%;
    }
    &.top {
      top: 0;
      right: 0;
      width: 20vw;

      @media(max-width:$phone-size) {
        width: 40vw;
      }
    }
    &.bottom {
      bottom: 0;
      left: 0;
      width: 22vw;

      @media(max-width:$phone-size) {
        width: 40vw;
      }
    }
  }
}



.float-box {
  overflow-y: auto;
  background: $grey-dark;
  z-index: -3;
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 40vw;
  height: 80vh;

  @media(max-width:$phone-size) {
    width: 75vw;

  }
}