@charset "UTF-8";
.modal {
  overflow-y: auto;
  /*.modal-title {
    padding: 0.5rem;
  }*/ }
  .modal .close {
    color: #ffffff; }

.modal-artist {
  background-color: #202020;
  margin-top: 100px; }

.modal-content {
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
  margin: 0; }

.modal-dialog {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 40vw;
  height: 80vh;
  margin: 0;
  max-width: none; }
  .modal-dialog img {
    width: 100% !important; }
  @media (max-width: 650px) {
    .modal-dialog {
      width: 75vw; } }

.modal-body {
  text-transform: none;
  overflow-y: scroll; }

body {
  background: #21379e;
  color: #ffffff;
  font-size: 2rem;
  max-width: 1000px;
  text-transform: uppercase;
  z-index: 0;
  margin: 3vw 25vw auto;
  font-family: 'Barlow Condensed', sans-serif; }
  @media (max-width: 1000px) {
    body {
      font-size: 1.5rem;
      max-width: 500px;
      margin: 25vw auto auto; } }
  @media (max-width: 650px) {
    body {
      margin-top: 40vw;
      max-width: 80vw; } }

.footer {
  position: absolute;
  bottom: 1vh; }

.artists {
  text-align: justify;
  font-size: 3rem; }
  @media (max-width: 1000px) {
    .artists {
      font-size: 2rem; } }
  @media (max-width: 650px) {
    .artists {
      text-align: right; } }
  .artists .sep::before {
    content: '•'; }
  @media (max-width: 650px) {
    .artists .artist:after {
      content: "\A";
      white-space: pre; } }

.artist {
  white-space: nowrap; }
  .artist.clickable:hover {
    color: #202020 !important;
    background-color: #ffffff;
    cursor: pointer; }

.navbar {
  justify-content: left;
  padding: 0; }
  .navbar .navbar-item {
    color: #ffffff; }
    .navbar .navbar-item:not(:last-child) {
      margin-right: 10px; }

.statement, .navbar {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: left; }

.logo {
  position: absolute;
  width: 20vw;
  top: 2vh;
  left: 2vh;
  z-index: -1; }
  @media (max-width: 650px) {
    .logo {
      width: 40vw; } }
  .logo img {
    width: 100%; }

h1 {
  font-size: 3.5rem;
  font-weight: 800; }

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2.5rem; }

.crystals {
  overflow: hidden; }
  .crystals .crystal {
    position: fixed;
    z-index: 2; }
    .crystals .crystal img {
      width: 100%; }
    .crystals .crystal.top {
      top: 0;
      right: 0;
      width: 20vw; }
      @media (max-width: 650px) {
        .crystals .crystal.top {
          width: 40vw; } }
    .crystals .crystal.bottom {
      bottom: 0;
      left: 0;
      width: 22vw; }
      @media (max-width: 650px) {
        .crystals .crystal.bottom {
          width: 40vw; } }

.float-box {
  overflow-y: auto;
  background: #202020;
  z-index: -3;
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 40vw;
  height: 80vh; }
  @media (max-width: 650px) {
    .float-box {
      width: 75vw; } }
